@import "variables";
@import "~include-media";
@import "~normalize.css/normalize.css";

//small - 576
//medium - 768
//desktops - 992
//extra large - 1200

body {
  height: 100vh;
  background-color: $cl-grayf5;
}

*, :after, :before {
  box-sizing: border-box;
  outline: none;
}

.is-mobile {
  @include media(">992px") {
    display: none;
  }
}

.is-desktop {
  @include media("<992px") {
    display: none;
  }
}

.container {
  margin: 0 auto;
  @include media(">1200px") {
    max-width: 1620px;
  }
}

.btn {
  padding: 10px 20px;
  border-radius: 4px;
  color: $cl-white;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;

  &.update {
    background-color: $cl-green1e;
  }

  &.delete {
    background-color: $cl-red;
  }

  &.add {
    background-color: $cl-green1e;
    font-size: 18px;
    padding: 15px 25px;
    border-radius: 50px;
  }

  .fa-plus {
    margin-right: 15px;
  }
}
