<template>
  <div class="view-user">
    <UserModify/>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import UserModify from '../components/UserModify'

export default {
  name: 'User',
  components: { UserModify },
  mounted () {
    this.setTitle(this.$t('title.addUser'))
  },
  methods: {
    ...mapActions({
      setTitle: 'setTitle'
    })
  }
}
</script>

<style scoped lang="scss">
@import "src/assets/scss/app";

.view-user {
  margin-top: 30px;
}
</style>
