<template>
  <div class="user-modify">
    <User/>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import User from '../components/User'

export default {
  name: 'UserModify',
  components: { User },
  mounted () {
    this.setTitle(this.$t('title.addUser'))
  },
  methods: {
    ...mapActions({
      setTitle: 'setTitle'
    })
  }
}
</script>

<style scoped lang="scss">
@import "src/assets/scss/app";

.view-user {
  margin-top: 30px;
}
</style>
