<template>
  <div class="view-userlist">
    <Users/>
  </div>
</template>

<script>
import Users from '@/components/Users'
import { mapActions } from 'vuex'

export default {
  name: 'UserList',
  components: {
    Users
  },
  mounted () {
    this.setTitle(this.$t('title.userList'))
  },
  methods: {
    ...mapActions({
      setTitle: 'setTitle'
    })
  }
}
</script>
