<template>
  <div class="pagination container">
    <ul v-if="pages" class="pagination-list">
      <li
        class="pagination_first"
      >
        <router-link
          :to="{ name: 'UserList', params: { id: pages - (pages-1) }}"
        >
          <font-awesome-icon :icon="['fas', 'angle-double-left']"/>
        </router-link>
      </li>
      <li
        v-for="page in pages"
        :key="page"
        :class="{
          'active': page === Number($route.params.id) || page === 1 && !$route.params.id,
          'next': page === (Number($route.params.id)+1) && $route.params.id,
          'prev': page === (Number($route.params.id)-1) && $route.params.id
        }"
      >
        <router-link
          :to="{ name: 'UserList', params: { id: page }}"
        >
          {{ page }}
        </router-link>
      </li>
      <li
        class="pagination_last"
      >
        <router-link
          :to="{ name: 'UserList', params: { id: pages }}"
        >
          <font-awesome-icon :icon="['fas', 'angle-double-right']"/>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Pagination',
  props: {
    pages: Number
  }
}
</script>

<style scoped lang="scss">
@import "src/assets/scss/app";

.pagination.container {
  background-color: $cl-grayf5;
  text-align: center;
  @include media(">992px") {
    text-align: left;
  }
}

.pagination-list {
  list-style-type: none;
  display: inline-flex;
  border: 1px solid $cl-gray6f;
  padding: 0;
  flex-wrap: wrap;

  li {
    width: 35px;
    height: 35px;
    display: none;
    justify-content: center;
    align-items: center;
    border-left: 1px solid $cl-gray6f;
    background-color: $cl-white;
    &.active,
    &.next,
    &.prev,
    &.pagination_first,
    &.pagination_last {
      display: flex;
    }
    @include media(">992px") {
      display: flex;
    }

    a {
      text-decoration: none;
      color: $cl-green1e;
    }

    &.active {
      background-color: $cl-green1e;

      a {
        color: $cl-white;
      }
    }

    &:first-child {
      border-left: none;
    }
  }

  &_first {
  }

  &_last {
  }
}
</style>
