<template>
  <div class="user">
    <div class="container">
      <div class="user-data">
        <div class="user-input">
          <label for="user-firstName">{{ $t('firstName') }}</label>
          <input type="text" id="user-firstName" v-model="firstName">
        </div>
        <div class="user-input">
          <label for="user-lastName">{{ $t('lastName') }}</label>
          <input type="text" id="user-lastName" v-model="lastName">
        </div>
        <a @click="updateDetails" v-if="id" :title="$t('btnUpdate')" class="btn update">{{ $t('btnUpdate') }}</a>
        <a @click="createUser" :title="$t('btnAdd')" v-if="!id" class="btn update">{{ $t('btnAdd') }}</a>
        <a @click="deleteUser(id)" v-if="id" :title="$t('btnDelete')" class="btn delete">{{ $t('btnDelete') }}</a>
      </div>
      <div class="user-photo">
        <img class="avatar" :src="getAvatar()"/>
        <div class="user-avatar">
          <input
            type="text"
            class="user-avatar__input"
            :class="{'has-value': avatar}"
            @change="getAvatar()"
            :placeholder="$t('avatar')"
            v-model="avatar"
          >
          <font-awesome-icon :icon="['fas', 'camera']"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import usersService from '../services/usersService'

export default {
  name: 'User',
  data: function () {
    return {
      firstName: null,
      lastName: null,
      avatar: null,
      id: null
    }
  },
  mounted () {
    if (this.$route.params.id) {
      this.id = this.$route.params.id
      usersService.getUser(this.id)
        .then((response) => {
          this.firstName = response.data.first_name
          this.lastName = response.data.last_name
          this.avatar = response.data.avatar
        })
        .catch((error) => {
          console.log(error)
        })
    }
  },
  methods: {
    createUser: function () {
      usersService.createUser({
        first_name: this.firstName,
        last_name: this.lastName,
        avatar: this.avatar
      })
        .then((response) => {
          console.log(response)
        })
        .catch((error) => {
          console.log(error)
        })
    },
    updateDetails: function () {
      usersService.updateUser({
        first_name: this.firstName,
        last_name: this.lastName,
        avatar: this.avatar,
        id: this.id
      })
        .then((response) => {
          console.log(response)
        })
        .catch((error) => {
          console.log(error)
        })
    },
    deleteUser: function (id) {
      usersService.deleteUser(id)
        .then((response) => {
          console.log(response)
        })
        .catch((error) => {
          this.error = error
        })
    },
    getAvatar: function () {
      if (this.avatar) {
        return this.avatar
      }
      return require('../assets/avatar.png')
    }
  }
}
</script>

<style scoped lang="scss">
@import "src/assets/scss/app";

.container {
  min-height: 370px;
  display: flex;
  flex-direction: column-reverse;
  @include media(">992px") {
    flex-direction: row;
  }
}

.user-data {
  display: flex;
  flex-wrap: wrap;
  padding: 77px 0 20px;
  justify-content: center;
  background-color: $cl-white;
  @include media(">992px") {
    width: 72%;
    margin-right: 15px;
    justify-content: flex-start;
  }

  .user-input {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px;
    @include media(">992px") {
      width: 50%;
      margin-top: 0;
      padding: 0 28px;
    }
  }

  label {
    display: block;
    font-size: 14.5px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  input {
    border: 1px solid $cl-grayd9;
    padding: 10px 20px;
    width: 100%;
  }

  .btn {
    align-self: flex-end;
    @include media(">992px") {
      margin-left: 28px;
    }
  }
}

.user-photo {
  background-color: $cl-white;
  padding: 30px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include media(">992px") {
    width: 35%;
    margin-left: 15px;
    padding-top: 72px;
  }

  .user-avatar {
    width: 100%;
    position: relative;

    .fa-camera {
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translate(-70px, -55%);
      color: $cl-gray6f;
    }

    &__input {
      text-align: center;
      padding: 10px;
      font-size: 15px;
      width: 100%;
      color: $cl-gray6f;

      &.has-value ~ .fa-camera {
        display: none;
      }
    }
  }

  .avatar {
    border-radius: 50%;
    margin-bottom: 15px;
    @include media(">992px") {
      margin: 0 auto;
    }
  }
}
</style>
