<template>
  <div class="users">
    <div class="loading container" v-if="loading">
      {{ $t('loading') }}
    </div>
    <template v-if="!loading">
      <div class="container">
        <div class="topbar">
          <div class="search">
            <input
              class="users_search"
              type="text"
              :placeholder="$t('usersSearch')"
              v-model="search"
              @change="filterUsers()"
            >
            <font-awesome-icon :icon="['fas', 'search']"/>
          </div>
          <div class="addUser">
            <router-link
              :to="{ name: 'AddUser'}"
              class="btn add"
            >
              <font-awesome-icon :icon="['fas', 'plus']"/>
              {{ $t('addUser') }}
            </router-link>
          </div>
        </div>

        <table v-if="!error" class="is-desktop">
          <colgroup>
            <col style="width:6%">
            <col style="width:60%">
            <col style="width:10%">
          </colgroup>
          <tr>
            <th></th>
            <th>{{ $t('fullName') }}</th>
            <th>{{ $t('action') }}</th>
          </tr>
          <tr
            v-for="user in filteredList"
            :key="user.id"
            class="user"
          >
            <td>
              <img
                :src="user.avatar"
                :alt="fullName(user)"
                class="avatar"
              />
            </td>
            <td>
              <p class="fullName">{{ fullName(user) }}</p>
            </td>
            <td>
              <router-link
                :to="{ name: 'EditUser', params: { id: user.id }}"
                class="edit"
              >
                <font-awesome-icon :icon="['fas', 'user-edit']"/>
              </router-link>
              <a
                @click="deleteUser(user)"
                class="delete"
              >
                <font-awesome-icon :icon="['fas', 'user-times']"/>
              </a>
            </td>
          </tr>
        </table>
      </div>
      <ul v-if="!error" class="is-mobile">
        <li
          v-for="user in filteredList"
          :key="user.id"
        >
          <img
            :src="user.avatar"
            :alt="fullName(user)"
            class="avatar"
          />
          <p>{{ fullName(user) }}</p>
          <div class="actions">
            <router-link
              :to="{ name: 'EditUser', params: { id: user.id }}"
              class="edit"
            >
              <font-awesome-icon :icon="['fas', 'user-edit']"/>
            </router-link>
            <a
              @click="deleteUser(user)"
              class="delete"
            >
              <font-awesome-icon :icon="['fas', 'user-times']"/>
            </a>
          </div>
        </li>
      </ul>
      <div v-if="error">{{ error }}</div>
    </template>
    <Pagination :pages="pages"/>
  </div>
</template>

<script>
import usersService from '../services/usersService'
import Pagination from './Pagination'

export default {
  name: 'Users',
  components: { Pagination },
  data: function () {
    return {
      users: null,
      error: false,
      loading: true,
      search: '',
      pages: null
    }
  },
  watch: {
    '$route.params.id' () {
      this.getUser()
    }
  },

  methods: {
    fullName: function (user) {
      return `${user.first_name} ${user.last_name}`
    },
    getUser: function () {
      usersService.getUsers(this.$route.params.id)
        .then((response) => {
          this.users = response.data
          this.pages = response.total_pages
          this.loading = false
        })
        .catch((error) => {
          this.error = error
        })
    },
    deleteUser: function (user) {
      usersService.deleteUser(user.id)
        .then((response) => {
          console.log(response)
        })
        .catch((error) => {
          this.error = error
        })
    }
  },

  mounted () {
    this.getUser()
  },

  computed: {
    filteredList () {
      return this.users.filter(user => {
        return (user.first_name.toLowerCase() + user.last_name.toLowerCase()).includes(this.search.toLowerCase())
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "src/assets/scss/app";

.users {
  .container {
    background-color: $cl-white;
    padding: 20px;
  }

  table {
    width: 100%;
    text-align: left;
    border: none;
    border-collapse: collapse;
  }

  th {
    padding: 10px;
  }

  .user {
    &:nth-child(2n+1) {
      background-color: $cl-grayf5;
    }

    td {
      padding: 10px;
    }
  }

  .edit,
  .delete {
    color: $cl-grayae;
    cursor: pointer;
  }

  .delete {
    margin-left: 15px;
  }

  .fullName {
    font-size: 19px;
  }

  .avatar {
    @include media(">992px") {
      width: 50px;
      border-radius: 30px;
    }
  }

  .topbar {
    display: flex;
    justify-content: space-between;
    padding: 35px 10px;
    border-bottom: 1px solid $cl-grayf8;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    @include media(">767px") {
      flex-direction: row;
    }
  }

  .addUser {
    display: flex;
    margin-top: 20px;
    @include media(">767px") {
      margin-top: 0;
    }
  }

  .search {
    .fa-search {
      position: relative;
      left: -25px;
      color: $cl-gray6f;
    }
  }

  &_search {
    background-color: $cl-grayf8;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
  }

  ul {
    background-color: $cl-white;
    padding: 0;
    margin: 0;

    li {
      text-align: center;
      width: 100%;
      display: inline-block;
      margin-bottom: 25px;
      @include media(">767px") {
        width: 50%;
      }

      img {
        width: 80px;
        border-radius: 50%;
      }
    }
  }
}
</style>
