<template>
  <div id="app">
    <div class="container">
      <h1 class="title" v-if="title">{{ title }}</h1>
    </div>
    <router-view/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      title: 'title'
    })
  }
}
</script>

<style lang="scss">
@import "src/assets/scss/app";

#app {
  font-family: Arial, Avenir, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 13px;
  @include media(">992px") {
    padding-top: 93px;
  }
}

.title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 20px;
  font-weight: 400;
  @include media(">992px") {
    text-align: left;
  }
}
</style>
